/* CSS Override - used to override Bootstrap Class */
body {
    margin:0px 5px;
}

.navbar {
    margin-bottom:15px;
}

tr td.hashes {
    color:#0081c6;
}

div#active_workers {
    margin-top:10px;
    margin-bottom:10px;
    overflow: hidden;
}

.card-text span {
    cursor: pointer;
}

.btn-holder {
    margin:5px 0;
    padding:5px 0;
}